body {
font-family: "Courier New", Courier, monospace;
line-height: 1.6;
margin: 20px;
padding-bottom: 50px;
padding-top: 50px;
padding-left: 40px;
padding-right: 40px;
}

h1, h2, h3 {
color: #333;
}

section {
margin-bottom: 30px;
}

h1 {
border-bottom: 2px solid #333;
padding-bottom: 5px;
margin-bottom: 20px;
font-size: 150%;
}

h2{
font-size: 120%;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
padding: 20px; 
width:60%;
max-width: 100%;
height: auto;
}

.toobig{
width:25%;
}

div.sidebar {
margin: 0;
margin-top: 2%;
margin-left: 0;
padding: 0;
width: 20%;
background-color: white;
position: fixed;
height: 90%;
overflow: auto;
overflow-x: hidden;
}

main.right-side {
width: 75%;
margin-left: 26%;
margin-right: 0;
padding-bottom: 150px;
padding-left: 0px;
padding-right: 0px;
}

div.sidebar > p {
margin: 0;
/* padding: 0; */
}

div.sidebar a {
height: auto;
margin-left: -20px;
margin-right: -20px;
display: flex;
align-items: center;
color:  #333;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 20%;
padding-right: 10%;
text-decoration: none;
font-size: 150%;
line-height: 165%;
}

div.sidebar a.active {
background-color: #333;
color: white;
}

div.sidebar a:hover:not(.active) {
background-color: lightgrey;
color: #333;
}

a {
color: #333;
font-weight: 600;
text-decoration: none;
}

div.sidebar a.back {
height: 10%;
background-color: grey;
color: white;
}

div.sidebar a.back:hover {
background-color: rgb(84, 84, 84);
color: lightgrey;
}

/* a:hover,
a:active,
a:focus {
color: white;
} */
